<div class="well well-lg">
	<h2>Your Trello Token</h2>
	<p>
		<a class="btn btn-default" 
			href="https://trello.com/1/connect?key=a8aa4b5a500aa17c02b8e15cb09a9e2b&name=Trello+Standup+Randomizer&response_type=token"
			target="_blank">
			Get Token
		</a>
	</p>
	<p>
		<form role="form" ng-submit="tokenCtrl.saveToken()">
			<div class="form-group">
			<input type="text" class="form-control input-lg" placeholder="Enter Trello Token" ng-model="tokenCtrl.token" required />
			</div>
			<button type="submit" class="btn btn-lg btn-primary">Save Token</button>
		</form>
	</p>
</div>